<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title data-th-text="#{label.title}"></title>
</head>
<body>

<table border="1">
    <title data-th-text="#{label.title}"></title>
    <tr th:each="product: ${products}">
        <td data-th-text="#{__${product.description}__}"></td>
        <td data-th-text="${product.price}" />
        <td data-th-text="${product.lastUpdated}" />
    </tr>
</table>
</body>
</html>